/* Custom CSS Colours
  ----------------------------- */

  :root {
    --dark: #050a0a;
    --light: #f5fafa;
 
    --primary--light: #00B324;
    --accent--light: #FF0505;
  }


/* Global
   ----------------------------- */

  body {
    background: var(--dark);
    color: var(--light);
  }

  a {
    color: var(--primary--light);
  }

  a:hover {
    color: var(--light);
  }


/* Theme button
  ----------------------------- */

  .btn__light {
    color: var(--primary--light);
  }
  .btn__light:hover {
    color: var(--light);
  }

/* Search component
  ----------------------------- */

  .search__formLabel {
  border-bottom-color: var(--primary--light);
}  


/* 404 Page
  ----------------------------- */

  .pageNotFound__title--accent {
    color: var(--accent--light);
  }