/* Custom CSS Colours
  ----------------------------- */

  :root {
    --dark: #050a0a;
    --light: #f5fafa;
 
    --primary--dark: #006113;
    --accent--dark: #AD0000;
  }


/* Global
  ----------------------------- */

  body {
      background: var(--light);
      color: var(--dark);
  }

  a {
    color: var(--primary--dark);
  }

  a:hover {
    color: var(--dark);
  }


/* Theme button
  ----------------------------- */
 
  .btn__dark {
    color: var(--primary--dark);
  }

  .btn__dark:hover {
    color: var(--dark);
  }


/* Search component
   ----------------------------- */

  .search__formLabel {
      border-bottom-color: var(--primary--dark);
  }  